*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.table{
    width: 90%;
    margin: auto;
    .tbody1{
        list-style: none;
        width: 70%;
        margin: auto;
        tr{
            .close{
                cursor: pointer;
            }
            img{
                width: 200px;
                height: 100px;
            }
            .pprice{
                font-weight: 600;
                font-size: 25px;
                margin: 0 50px;
            }
        }
        div{
            width: 100%;
            text-align: center;
            h3{
                display: inline-block;
                text-transform: uppercase;
                color: rgb(189, 0, 0);
                font-weight: 900;
                font-size: 30px;
                margin: auto;
            }
        }
    }
}
.totalpri{
    width: 100%;
    text-align: center;
    background-color: rgba(0, 255, 170, 0.233);
    color: black;
    font-weight: 900;
    font-size: 30px;
    text-transform: uppercase;
}